<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document Organizer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }} ">
</head>
<body>
  <div class="container">
    <h1>Organizador de Documentos</h1>

    <label for="caminho">Caminho da pasta:</label>
    <input type="text" id="caminho" placeholder="Ex: C:/Users/Seu_nome/Documents" />

    <button onclick="organizar()">Organizar Arquivos</button>

    <div id="mensagem"></div>
  </div>
  
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
